[Unit]
Description=Script to dynamically enable ZRAM on a Raspberry Pi or other Linux system
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/parch-zram
ExecStop=/usr/bin/parch-zram stop
TimeoutStopSec=600

[Install]
WantedBy=local-fs.target
